{
    "includes": [
        "../src"
    ],
    "metrics": {
        "cyclomaticComplexity": {
            "exclude": [
                "App\\Entity\\SomeEntity",
            ],
            "maxValue": 10
        },
        "efferentCoupling": {
            "exclude": [
                "App\\Service\\SomeService"
            ],
            "maxValue": 12
        }
    }
}
