{
    "paths": [
        "src"
    ],
    "metrics": {
        "cyclomaticComplexity": {
            "skip": [
                "App\\Entity\\SomeEntity",
                "App\\Service\\*Generated",
                "App\\**\\SomeApiResource"
            ],
            "maxValue": 10
        },
        "efferentCoupling": {
            "skip": [
            ],
            "maxValue": 12
        }
    }
}
